* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    /* color: #fff; */
}

/* img {
    max-width: 60%;
    max-height: 60%;
    align-items: center;
} */

/* .logo {
    align-items: center;
} */

/* Login page start  hex= D7262C, d7262c82*/

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #483d8b;
    background-size: cover;
    background-position: center;
    /* background: url('static\images\darkslate.jpg') no-repeat; */
}

.login .wrapper {
    width:420px;
    background: transparent;
    /* color: white; */
    border-radius: 10px;
    padding: 30px 40px;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.login .wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.login .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: #fff;
}

.login .input-box input::placeholder{
    color: #000;
}

.login .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #000;
}

.login .wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

/* Login page end */

/* index page start */
.index {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 80em;
    line-height: 1.5;
    padding: 1em 1em;
    /* color: #555; */
}

.index #topic{
    margin-top: 1em;
    /*padding-top: 1em; */
    color: #483d8b;
    display: block;
    background: #f5f5f5;
}

.index .all-cards {
    display: flex;
    flex-wrap: wrap;
    /* border-radius: 10px;
    padding: 30px 40px;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    text-align: center; */
}

.index .all-cards * {
    flex: 1 1 150px;
    
}
.index .card {
    background: transparent;
    margin: 10px;
    /* display: flex; */
    border-radius: 10px;
    padding: 30px 40px;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    /* text-align: center; */
    background-color: #483d8b;
}

.index a{
    color: #fff;
    line-height: 2.5;
    text-decoration: none;
}

.index a:hover {
    text-decoration: underline;
    transition: 0s;
    /* color: #000; */
}

.index #nav {
    border-bottom: #483d8b solid;
    margin-bottom: 1em;
    /* border-style: solid; */
}

.index #nav a{
    font-size: 10px;
    /* font-weight: 300; */
}

.index .all-cards .container a{
    font-size: 20px;
}
.index #nav .tail{
    float: right;
}

.index #nav a{
    font-size: 30px;
    color: #483d8b;
}

.index #nav a:hover{
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    transition: 0s;
    /* color: #000; */
}

.index #nav .tail i{
    color: #483d8b;
}

.index #nav a i:hover{
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    transition: 0s;
}

.index #nav #head:hover {
    transition: none;
}

.index #topic h1{
    text-align: center;
    color: #000;
    padding: 2rem;
}
/* index page end */

/*QUERY START */

/*base start */

.index #nav #arrow i {
    color: #483d8b;
    margin-right: 10px;
}

/*base end */

/* Person start */

#person *{
    color: #000;
    max-width: 90em;
    margin: 0 auto;
    margin-bottom: 3px;
}

#person .tab-content {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
}

#person .tab-content  tr th {
    background-color: #483d8b;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

#person th, #person td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#person .tab-content  tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

#person .tab-content  tbody tr:last-of-type {
    border-bottom: 2px solid #483d8b;
}

#person button {
    margin: 2em 2em;
    /* border: 2px solid ;
    padding: 10px; */

    display: inline-block;
    text-decoration: none;
    border: 1px solid #483d8b;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

#person button:hover {
    border: 1px solid #483d8b;
    background: #483d8b;
    transition: 0s;
    color: #ffffff;
}

#person .tab-content  tr a {
    text-decoration: none;
}

#person .tab-content  tr a:hover {
    text-decoration: underline;
} 

#person .dp .p-tag{
    border-left: 1px dotted #483d8b;
    padding: 10px;
    /* border: 1px dotted #483d8b; */
}

#person .dp .p-tag:last-of-type{
    background-color: #483d8b;
    border: none
}

#person .dp .p-tag:last-of-type h2{
    color: #ffffff;
}

#person .dp .p-tag:first-of-type{
    border: none
}

#person .dp{
    display: flex;
    margin: 20px 0 30px;
    border-radius: 5px;
    border: 1px dotted #483d8b;
}

#person #info-table {
    margin-bottom: 20px;
    width: 60%;
    font-weight: 600;
    /* font-size: large; */
}

/* Person end */

/* QUERY END*/

/* special-dash(dashboard) start*/
.special-dash {
    background-color: #c2e7ff2e;
    /* display: block; */
}

.special-dash .all-sections {
    display: flex;
    /* width: auto; */
}

/* .special-dash .div {
    height: 100%;
} */

.special-dash .section-1 {
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0 1.7rem;
    overflow: hidden;
    position: sticky;
    width: 240px;
    height: 100vh;
}

.special-dash .logo {
    height: 80px;
    padding: 16px;
}

.special-dash .side-bar {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.special-dash .side-bar li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.2s ease-in;

}

.special-dash .side-bar li:hover, .active {
    background:#473d8b57;
}

.special-dash .side-bar a {
    font-size: 17px;
    text-decoration: none;
    gap: 1.5rem;
    display: flex;
    align-items: center;
}

.special-dash .side-bar a i {
    font-size: 1.2rem;
}

/* .special-dash .side-bar .logout {
    position: absolute;
    bottom: 0;
    left: 0;
} */

.special-dash .section-2 {
    position: relative;
    width: 90%;
}

.special-dash .section-2 .head-wrap {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    /* align-items: center; */
}

.special-dash .section-2 .head-wrap span, h3 {
    color: #4545459a;
    margin-bottom: 10px;
}

/* .special-dash .section-2 .head-wrap {
    margin: 20px;
    padding: 20px;
    width: 90%;
    border-radius: 20px;
    background-color: #fff;
    height: 62vh;
} */

.special-dash .section-2 .identity {
    margin-bottom: 1.5em;
}

.special-dash .section-2 .all-cards-wrap {
    background: #fff;
    height: 76vh;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.special-dash .section-2 .all-cards {
    display: flex;
    flex-wrap: wrap;
}

.special-dash  .section-2 .all-cards * {
    flex: 0 1 180px;
}

.special-dash .section-2 #dash-all-cards * {
    flex: 1 1 200px;
}

.special-dash .section-2 .card {
    background: transparent;
    margin: 10px;
    /* display: flex; */
    border-radius: 10px;
    padding: 30px 40px;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    /* text-align: center; */
    background-color: #f5f5f5;
    align-items: center;
}



.special-dash .section-2 a{
    color: #fff;
    line-height: 2.5;
    text-decoration: none;
}

.special-dash .section-2 a:hover {
    text-decoration: underline;
    transition: 0s;
    /* color: #000; */
}

.special-dash .section-2 #current-bal {
    background: rgba(108, 204, 108, 0.836);
}

.special-dash .section-2 #loan-bal {
    background: rgb(199, 120, 120);
}

.special-dash .section-2 .icon-con {
    border-radius: 40px;
    background-color:green;
    margin: 10px;
    margin-right: 50px;
    padding: 10px;
    height: auto;
    width:min-content;
    float: right;
    position: absolute;
    right: 0;
}

.special-dash .section-2 #landmark {
    background-color:#b30404fa;
}

.special-dash .section-2 .content-con a div {
    display: block;
}

.special-dash .section-2 i {
    font-size: 2rem;
    color: #000;
}

.special-dash .section-2 a {
    color: #000;
    font-size: 20px;
}

.special-dash .container {
    display: flex;
}

.special-dash img {
    max-width: 100%;
    max-height: auto;
}

.special-dash #move {
    margin-top: 30px;
}
/* special-dash(dashboard) end */

/* balance sheet start */

/* #balance-sheet td {
    font-weight: 500;
} */
.bal-chart {
    width: 90%; 
    margin: auto;
    margin-top: 3em;
    /* background: #ddd; */
    padding: 0;
}
/* balance sheet end */

/* ledger report start */
#person .tab-content .total {
    background: #524894d0;
}
/* ledger report end */

/* savings_account start */

#person .filt-wrap {
    display: flex;
    align-items: flex-start;
}
#person .filt {
    display: flex;
    /* margin: 0 10px; */
}

#person .filt-wrap .filt .filt_item {
    margin: 0 5px;
}

#person .filt button {
    margin: 0;
    display: flex;
    text-decoration: none;
    border: 1px solid #483d8b;
    padding: 0;
    font-size: 20px;
    background: transparent;
    position: relative;
}

#person .filt button:hover {
    color: #000;
    cursor: pointer;
}
/* savings_account end */

/* forms start */

/* bank_form start */


#form .full-form-content {
    max-width: 38em;
    padding: 1em 3em 2em 3em;
    margin: 5em auto;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px #483d8b;
}

#form .form-wrapper {
    width: auto;
    padding: 0 40px;

}

#form h1 {
    text-align: center;
    padding: 5px;
    margin: 6px;
}
#form .form-wrapper .form-label {
    text-align: center;
    width: fit-content;
    margin-bottom: 10px;
}

#form .form-wrapper .input{
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    margin-bottom: 30px;
    color: #000;
}

#form .input:focus {
    outline: 0;
    border-color: #483d8b;
  }


#form .form-wrapper .button-wrapper .button {
    /* margin: 0 6em; */
    display: inline-block;
    text-decoration: none;
    border: 1px solid #483d8b;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

#form .form-wrapper .button-wrapper {
    align-items: center;
    text-align: center;
}

#form .button:hover {
    border: 1px solid #483d8b;
    background-color: #483d8b;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    box-shadow: 0px 3px 10px -2px #483d8b;
}

            /* long form */

#form #long-form .input {
    width: 100%;
    padding: 0.7em;
    line-height: 1.4;
}

#form #long-form .form-label {
    margin-bottom: 5px;
}

#form #long-form .input {
    margin-bottom: 20px;
}

#form .form-wrapper .drop-down select {
    /* display: inline-block; */
    text-decoration: none;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    /* position: relative; */
    cursor: pointer;
    transition: 1s;
    margin-left: 1em;
}

#form .form-wrapper .select-wrapper {
    display: flex;
    align-items: baseline;
    margin: 0.7em 0 4em 0;
}
/* bank_form end */

/* forms end */

/* Mercy forgive me */
/* some basic styling for flash messages */
.flash-messages {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.flash-messages ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.flash-messages li {
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

/* Add animation to fade out the flash messages */
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.flash-messages li.success {
    background-color: #28a745; /* Green for success messages */
}

.flash-messages li.error {
    background-color: #dc3545; /* Red for error messages */
}

.flash-messages li.info {
    background-color: #17a2b8; /* Blue for info messages */
}

.flash-messages li.fade-out {
    animation: fadeOut 15s ease-out forwards;
}


/* error pages start*/
.loading body {
    padding: 0;
    margin: 0;
}

.loading *{
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
}

.loading #notfound {
    position: relative;
    height: 100vh;
}

.loading #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.loading .notfound {
    max-width: 710px;
    width: 100%;
    padding-left: 190px;
    line-height: 1.4;
}

.loading .notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
}

.loading .notfound .notfound-404 h1 {
    font-family: passion one,cursive;
    color: #00b5c3;
    font-size: 150px;
    letter-spacing: 15.5px;
    margin: 0;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.loading h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.loading .notfound h2 {
    font-family: raleway,sans-serif;
    color: #292929;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: 0;
}

.loading h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.loading .notfound p {
    font-family: raleway,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
}

.loading p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.loading .notfound a {
    font-family: raleway,sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #fff;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #292929;
    font-weight: 700;
    -webkit-box-shadow: 0 4px 15px -5px rgba(0,0,0,.3);
    box-shadow: 0 4px 15px -5px rgba(0,0,0,.3);
    -webkit-transition: .2s all;
    transition: .2s all;
}

.loading a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
/* error pages end */