{% extends "base.html" %} {% block content %}
<body id = "form">
<h2>Reset Password</h2>
<div class="full-form-content">
  <div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flash-messages">
      {% for message in messages %}
      <li class="fade-out {{message[0]}}">{{message[1]}}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </div>
<div class="form-wrapper">
  <form method="POST">
    {{ form.hidden_tag() }}

    <h1>Reset Password</h1>

    <div class="form-label">
      {{ form.current_password.label(class_='input-label') }}
    </div>
      
      <div class="form-box">
        {{ form.current_password(class_="input") }}
        <br />
      </div>
 
  
    <div class="form-label">
      {{ form.new_password.label(class_='input-label') }} 
      
    </div>
      
    <div class="form-box">
      {{ form.new_password(class_="input") }} 

    </div>
    <div class="form-label">
      {{ form.confirm_new_password.label(class_='input-label') }}

    </div>
      
    <div class="form-box">
      
      {{ form.confirm_new_password(class_="input") }}
    </div>
    <div class="button-wrapper">
      <input type="submit" value="Change" class="button" />
    </div>
  </form>
</div>
</div>
</body>
{% endblock %}
