{%extends 'base.html' %}

{%block title%}
Edit Person
{% endblock %}

{% block header%}
Edit Person
{% endblock %}

{% block anchor%}
<a href="{{ url_for('dashboard') }}" id='arrow'><i class="fa-solid fa-arrow-left"></i></a>
{% endblock %}

{%block content%}

<body id="form">
    <div class = "flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li class="fade-out {{message[0]}}">{{message[1]}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        </div>
    <div class="full-form-content">
        <!-- Your HTML content here -->

        <div class="form-wrapper" id="long-form">

            <form id="edit-profile-form" method="POST" >
                {{ form.hidden_tag() }}

                <h1>Close Year</h1>

                <div class="form-label">
                    {{ form.current_year.label(class_='input-label') }} <br>
                    </div>

                <div class="form-box">
                    {{ form.current_year(class_="input") }}
                </div>

                <div class="form-label">
                    {{ form.current_loan_application_fee.label(class_='input-label') }} <br>
                    </div>

                <div class="form-box">
                    {{ form.current_loan_application_fee(class_="input") }}
                </div>

                <div class="form-label">
                    {{ form.new_loan_application_fee.label(class_='input-label') }} <br>
                    </div>

                <div class="form-box">
                    {{ form.new_loan_application_fee(class_="input") }}
                </div>

                <div class="button-wrapper">
                    {{ form.submit(class_="button") }}
                </div>
            </form>
        </div>
    </div>

</body>
{%endblock%}