<!-- templates/index.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Bank Payment Voucher</title>
</head>

<body>

    <h1>Bank Payment Voucher</h1>
    <form method="POST" action="/" id="expenseForm">
        {{ form.hidden_tag() }}
        {{ form.main_account.label }} {{ form.main_account(id="main_account") }}
        <br>
        {{ form.sub_account.label }} {{ form.sub_account(id="sub_account") }}<br>
        {{ form.amount.label }} {{ form.amount }}<br>
        {{ form.bank.label }} {{ form.bank }}<br>
        {{ form.date.label }} {{ form.date }}<br>
        {{ form.description.label }} {{ form.description }}<br>
        {{ form.ref_no.label }} {{ form.ref_no }}<br>
        <input type="submit" value="Submit">
    </form>

    <script>
        const mainAccountDropdown = document.getElementById('main_account');
        const subAccountDropdown = document.getElementById('sub_account');
    

        mainAccountDropdown.addEventListener('change', async (event) => {
            const selectedMainAccount = event.target.value;

            // Make an asynchronous request to fetch sub-account choices
            const response = await fetch(`/get_sub_accounts/${selectedMainAccount}`);
            const subAccountChoices = await response.json();

            // Clear and update sub-account dropdown
            subAccountDropdown.innerHTML = '';
            subAccountChoices.forEach(choice => {
                const option = new Option(choice.name, choice.id);
                subAccountDropdown.appendChild(option);
            });
        });

    </script>
</body>

</html>