{% extends "base.html" %}
{% block title %}Approval{% endblock %}
{% block header %}
    <h1>Loan Approval</h1>
{% endblock header %}

{% block content %}
    <div class="loan-approval-list">
        <h2>Loans to Approve</h2>
        {% for loan in loans %}
            {% if not loan.is_approved %}
                <div class="loan-approval-item">
                    <p class="loan-id">Loan ID: {{ loan.id }}</p>
                    <a href="{{ url_for('savings_account', person_id=loan.person.id) }}" class="loan-recipient" style="color: #007bff;"><strong>Loan Recipient:</strong> {{ loan.person.name }}</a>
                   
                    <p class="loan-amount">Loan Amount: {{ loan.amount }}</p>
                    <p class="loan-term">Loan Duration: {{ loan.start_date | calculate_duration(loan.end_date) }}</p>
                    <p class="loan-interest">Loan Interest Rate: {{ loan.interest_rate }}%</p>
                    <a href="{{ url_for('approve_loan', loan_id=loan.id) }}" class="approve-button">Approve</a>
                </div>
            {% endif %}
        {% endfor %}
        <h2>Withdrawals to approve</h2>
        {% for withdrawal in withdrawals %}
            {% if not withdrawal.is_approved %}
                <div class="loan-approval-item">
                    <p class="loan-id">Withdrawal ID: {{ withdrawal.id }}</p>
                    <a href="{{ url_for('savings_account', person_id=withdrawal.person.id) }}" class="loan-recipient" style="color: #007bff;"><strong>Withdrawal Recipient:</strong> {{ withdrawal.person.name }}</a>
                    <p class="loan-amount">Withdrawal Amount: {{ withdrawal.amount }}</p>
                    <a href="{{ url_for('approve_withdrawal', request_id=withdrawal.id) }}" class="approve-button">Approve</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
