{%extends 'base.html' %} {%block title%} Coollink Employees Multi-Purpose
Co-operative Society - Balance Sheet {% endblock %} {% block header%} Balance
Sheet {% endblock %} {% block anchor%}
<a href="{{ url_for('queries') }}" id="arrow"
  ><i class="fa-solid fa-arrow-left"></i
></a>
{% endblock %} {%block content%}

<body id="balance-sheet">
  <!-- Display your balance sheet data here -->
  <div id="person">
  
  <table class="tab-content">
    <tbody>
      <tr>
        <th>Name</th>

        <th >Amount</th>
      </tr>

      <tr>
        <th colspan="2" class="total">Fixed Assets</th>
      </tr>
    
      <tr>
        <td>
          <a
            href=""
            > Investment </a
          >
        </td>
        <!-- Fetching the person's name -->

        <td>{{ investments | currency }}</td>
      </tr>

      <tr>
        <th colspan="2" class="total">Current Assets</th>
      </tr>
      <tr>
        <td ><a href="{{url_for('bank_report')}}">Banks</a></td>
    

        <td >{{ cash_and_bank | currency }}</td>
      </tr>
      <tr>
        <td><a href="{{url_for('get_loan')}}">Account Receivables</a></td>
        <!-- Fetching the person's name -->

        <td >{{ accounts_receivable| currency }}</td>
      </tr>
      <tr>
        <td>
          <a href="{{url_for('companies_report')}}">Company Receivables</a>
        </td>
        <!-- Fetching the person's name -->

        <td >{{ company_receivable| currency }}</td>
      <!--</tr>
      <tr>
        <td >
          <a href="{{url_for('companies_report')}}">Investments-Treasury bill</a>
        </td>
        <td>{{ treasury_bill | currency }}</td>
         Fetching the person's name -->
      </tr>
      {% for asset in assets %}
      <tr>
        <td>
          <a
            href="{{url_for('ledger_report',ledger='asset',ledger_id=asset.id)}}"
            >{{ asset.name }}</a
          >
        </td>
        <!-- Fetching the person's name -->
        <td>{{ asset.balance | currency }}</td>
      </tr>
      {% endfor %}
      <tr>
        <th class="total">Total Current Assets</th>

        <th class="total">{{total_assets | currency}}</th>
      </tr>

      <tr>
        <th colspan="2" class="total">Liabilities</th>
      </tr>
  

      <tr>
        <td><a href="{{url_for('get_payments')}}">Amount Payable</a></td>
        <!-- Fetching the person's name -->

        <td>{{ amount_payable | currency }}</td>
      </tr>

      {% for liability in liabilities %}
      <tr>
   
        <td>
          <a
            href="{{url_for('ledger_report',ledger='liability',ledger_id=liability.id)}}"
            >{{ liability.name }}</a
          >
        </td>
        <!-- Fetching the person's name -->
        <td>{{ liability.balance | currency }}</td>
      </tr>
      {% endfor %}
      <tr>
        <th class="total">Total Liability </th>

        <th class="total">{{total_liabilities | currency}}</th>
      </tr>
      <tr>
        <th colspan="2" class="total">Member Equity</th>
      </tr>
      <tr>
        <td>
          <a href="{{ url_for('income_statement')}}">Net Income</a>
        </td>
        <!-- Fetching the person's name -->

        <td>{{ net_income | currency }}</td>
        </tr>

        <tr>
        <td>
          <a href="{{url_for('get_payments')}}">Member Deposit</a>
        </td>
        <td>{{ accounts_payable | currency }}</td>
        </tr>

        <tr>
        <td>
          <a href="">Retained</a>
        </td>
        <td>{{ deficit | currency }}</td>
        </tr>

        <tr>
        <th class="total">Total Equity </th>

        <th class="total">{{total_equity | currency}}</th>
      </tr>

        <tr>
            <th class="total">Total Liabilities and Equity </th>
    
            <th class="total">{{total_liabilities_and_equity | currency}}</th>
          </tr>

      <tr></tr>
    </tbody>
  </table>
</div>

<div >
  {% for year in year_range %}
  <a href="{{url_for('balance_sheet_by_year',year=year)}}"><button id="downloadExcelButton">{{year}}</button></a>
  {%endfor%}
  
{%endblock%}
