{%extends 'base.html' %}

{%block title%}
Bank Information
{% endblock %}

{% block header%}
BANK INFORMATION
{% endblock  %}

{%block content%}
<body id="person">
    <table class="tab-content">

        <tbody>
            <tr>
                <th>ID</th>
                <th>Bank Name</th>
                <th>Balance B/FWD</th>
                <th>Balance</th>

            </tr>
            {% for bank in banks %}
            <tr>
                <td>{{ bank.id }}</td>
                <td><a href="{{url_for('individual_bank_report',bank_id=bank.id)}}">{{ bank.name }}</a></td>  <!-- Fetching the person's name -->
                <td>{{ bank.balance_bfd | currency }}</td>
                <td>{{ bank.new_balance | currency }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
{%endblock%}

