{%extends 'base.html' %}

{%block title%}
Bank Information
{% endblock %}

{% block header%}
Bank Information
{% endblock  %}

{% block anchor%}
<a href="{{ url_for('queries') }}" id='arrow'><i class="fa-solid fa-arrow-left"></i></a>
{% endblock  %}

{%block content%}
<body id='person'>
        <table  class="tab-content">
            <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Bank Name</th>
                        <th>Balance B/FWD</th>
                        <th>Balance</th>
    
                    </tr>
                {% for company in companies %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td><a href="{{url_for('individual_company_report',company_id=company.id)}}">{{ company.name }}</a></td>  <!-- Fetching the person's name -->
                    <td>{{ company.balance_bfd | currency }}</td>
                    <td>{{ company.amount_accumulated | currency }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
{%endblock%}