{%extends 'base.html' %}

{%block title%}
loan account
{% endblock %}

{% block header%}
{% if year %}
COOLINK CO-OPERATIVE INCOME ACCOUNT FOR {{ year }}
{% else %}
COOLINK CO-OPERATIVE INCOME ACCOUNT
{% endif %}
{% endblock  %}

{% block anchor%}
<a href="{{ url_for('queries') }}" id='arrow'><i class="fa-solid fa-arrow-left"></i></a>
{% endblock  %}

{%block content%}
<body id="person">
    <table class='tab-content'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
                <tr>
                    <th colspan="4" class="total">Incomes </th>

                </tr>
           
        <tbody>
            {% for income in incomes %}
                <tr>
                    <td>{{ income.name }}</td> 
                    <td>{{ income.description }}</td>
                    {% if year%}
                    <td>{{ income.debit | currency }}</td>
                    {% else %}
                    <td>{{ income.balance | currency}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <!-- total income-->
            <tr>
                <th colspan="2" class="total">Total Income </th>
                <th class="total">{{ total_income | currency}}</th>
            </tr>

            <tr>
                <th colspan="4" class="total">Expences </th>

            </tr>
            {% for income in expenses %}
                <tr>
                    <td>{{ income.name }}</td>
                    <td>{{ income.description }}</td>
                    {% if year%}
                    <td>{{ income.credit | currency}}</td>
                    {% else %}
                    <td>{{ income.balance | currency}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
                    <!-- total expenses-->
            <tr>
                        <th colspan="2" class="total">Total Expenses </th>
                        <th class="total">{{ total_expenses | currency}}</th>
            </tr>

            <tr>
                <th colspan="2" class="total">Net Income </th>
                <th class="total">{{ net_income | currency}}</th>

            </tr>
    

        </tbody>
        {% for year in years %}
        <a href="{{url_for('balance_sheet_by_year',year=year)}}"><button id="downloadExcelButton">{{year}}</button></a>
        {% endfor %}
    </table>

    <button id="downloadExcelButton">Download Excel Report</button>

     
    <button id="downloadPdfButton" onclick="window.print()">Download Report</button>

    <script>
        // Get the button element by its ID
        var buttonExcel = document.getElementById("downloadExcelButton");

        // Define the link URL
        var linkUrlExcel = "{{url_for('download_excel_income')}}";

        // Add a click event listener to the button
        buttonExcel.addEventListener("click", function() {
            // Redirect to the link URL
            window.location.href = linkUrlExcel;
        });

    </script>
</body>
{%endblock%}