{%extends 'base.html' %}

{%block title%}
loan account
{% endblock %}

{% block header%}
COOLINK CO-OPERATIVE {{ledger_report.name}} ACCOUNT
{% endblock  %}

{% block anchor%}
<a href="{{ url_for('queries') }}" id='arrow'><i class="fa-solid fa-arrow-left"></i></a>
{% endblock  %}

{%block content%}
<body id="person">
    <form method="get" class="">
        <div class="">
            {{ form.start_date.label }}
            {{ form.start_date(class="form-control") }}
        </div>
        <div class="">
            {{ form.end_date.label }}
            {{ form.end_date(class="form-control") }}
        </div>
        <button type="submit" class="">Apply Filter</button>
    </form>
        <table class='tab-content'>
            <tbody>
                <tr>
                    <th>Date</th>
                    <th>Reference Number</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                </tr>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.date }}</td>
                        <td>{{ payment.ref_no }}</td>
                        <td>{{ payment.description }}</td>
                        <td>{{ payment.amount | currency }}</td>
                        <td>{{ payment.balance | currency}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button id="downloadExcelButton">Download Report</button>

        <button id="downloadPdfButton">Download Report</button>
    
        <script>
            // Get the button element by its ID
            var buttonExcel = document.getElementById("downloadExcelButton");
            var buttonPdf = document.getElementById("downloadPdfButton");
    
            // Define the link URL
            var linkUrlExcel = "{{url_for('download_excel',type='{{ledger_report}}',type_id='None')}}";
            var linkUrlPdf = "{{url_for('download_pdf',type='ledger_report',type_id='None')}}";
    
            // Add a click event listener to the button
            buttonExcel.addEventListener("click", function() {
                // Redirect to the link URL
                window.location.href = linkUrlExcel;
            });
            buttonPdf.addEventListener("click", function() {
                // Redirect to the link URL
                window.location.href = linkUrlPdf;
            });
        </script>
    </body>

{%endblock%}