<!-- payments.html -->
<html>
<head>
    <title>Person Payments</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Coolink Cooperative Loan Account</h1>
    <p>Name: {{ person.name }}</p>
    <p>Company: {{ person.company.name }}</p>
    <p>Member ID: {{ person.employee_id }}</p>
    <p>Loan: {{ person.loan_balance | currency }}</p>
    
    <h2>Payments</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Refrence Number</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td> - </td>
                <td> - </td>
                <td>Balance B/FWD</td>
                <td>{{ person.loan_balance_bfd| currency }}</td>
                <td>{{ person.loan_balance| currency }}</td>
            </tr>
                {% for payment in payments %}
                        <tr>
                            <td>{{ payment.date }}</td>
                            <td>{{ payment.ref_no }}</td>
                            <td>{{ payment.description }}</td>
                            <td>{{ -payment.amount | currency }}</td>
                            <td>{{ payment.balance | currency }}</td>
                        </tr>
                {% endfor %}
            
        </tbody>
    </table>
</body>
</html>
