{%extends 'base.html' %}

{%block title%}
Loan Information
{% endblock %}

{% block header%}
Loan Information
{% endblock  %}

{% block anchor%}
<a href="{{ url_for('queries') }}" id='arrow'><i class="fa-solid fa-arrow-left"></i></a>
{% endblock  %}

{%block content%}
<body id="person">
    
    <form method="get" class="filt-wrap">
        <div class="filt">
            {{ form.start_date.label(class="filt_item")}}
            {{ form.start_date(class="filt_item form-control") }}
        </div>
        <div class="filt">
            {{ form.end_date.label(class="filt_item") }}
            {{ form.end_date(class="filt_item form-control") }}
        </div>
        <div class="filt" >
            <button type="submit" class="">Apply Filter</button>
        </div>
    </form>

    <table class="tab-content">
    <div>
    <tbody>
        <tr>
            <th>ID</th>
            <th>Person Name</th>
            <th>Amount</th>
            <th>Interest Rate</th>
            <th>Balance</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Is Paid</th>
        </tr>

        {% for loan in loans %}
        <tr>
            <td>{{ loan.id }}</td>
            <td><a href="{{url_for('loan_account',person_id=loan.person.id)}}">{{ loan.person.name }}</a></td>  <!-- Fetching the person's name -->
            <td>{{ loan.amount | currency }}</td>
            <td>{{ loan.interest_rate }}</td>
            <td>{{ loan.person.loan_balance | currency }}</td>
            <td>{{ loan.start_date }}</td>
            <td>{{ loan.end_date }}</td>
            <td>{{ loan.is_paid }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<button id="downloadExcelButton">Download Excel Report</button>

<button id="downloadPdfButton">Download PDF Report</button>

<script>
// Get the button element by its ID
var buttonExcel = document.getElementById("downloadExcelButton");
var buttonPdf = document.getElementById("downloadPdfButton");

// Define the link URL
var linkUrlExcel = "{{url_for('download_excel',type='loan',type_id='None',payments=payments)}}";
var linkUrlPdf = "{{url_for('download_pdf',type='loan',type_id='None',payments=payments)}}";

// Add a click event listener to the button
buttonExcel.addEventListener("click", function() {
    // Redirect to the link URL
    window.location.href = linkUrlExcel;
});
buttonPdf.addEventListener("click", function() {
    // Redirect to the link URL
    window.location.href = linkUrlPdf;
});
</script>
</body>
{%endblock%}