{%extends 'base.html' %}

{%block title%}
Person Payments
{% endblock %}

{% block header%}
COOLINK CO-OPERATIVE LOAN ACCOUNT
{% endblock  %}

{% block anchor%}
<a href="{{ url_for('queries') }}" id='arrow'><i class="fa-solid fa-arrow-left"></i></a>
{% endblock  %}

{%block content%}
<body id="person">
    
    <table class='tab-content'id="info-table" >
        
        <tr>
            <td>Name:</td>
            <td>{{ person.name }}</td>
        </tr>

        <tr>
            <td>Company:</td>
            <td>{{ person.company.name }}</td>
        </tr>

        <tr>
            <td>Member ID:</td>
            <td>{{ person.employee_id }}</td>
        </tr>

        <tr>
            <td>Loan:</td>
            <td>{{ person.loan_balance | currency }}</td>
        </tr>
        
    </table>

    <form method="get" class="filt-wrap">
        <div class="filt">
            {{ form.start_date.label(class="filt_item")}}
            {{ form.start_date(class="filt_item form-control") }}
        </div>
        <div class="filt">
            {{ form.end_date.label(class="filt_item") }}
            {{ form.end_date(class="filt_item form-control") }}
        </div>
        <div class="filt" >
            <button type="submit" class="">Apply Filter</button>
        </div>
    </form>
    
        <table class='tab-content'>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Refrence Number</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td> - </td>
                    <td> - </td>
                    <td>Balance B/FWD</td>
                    <td>{{ person.loan_balance_bfd| currency }}</td>
                    <td>{{ person.loan_balance_bfd| currency }}</td>
                </tr>
                    {% for payment in payments %}
                            <tr>
                                <td>{{ payment.date }}</td>
                                <td>{{ payment.ref_no }}</td>
                                <td>{{ payment.description }}</td>
                                <td>{{-payment.amount | currency }}</td>
                                <td>{{ payment.balance | currency }}</td>
                            </tr>
                    {% endfor %}
                
            </tbody>
        </table>

        <button id="downloadExcelButton">Download Excel Report</button>

        <button id="downloadPdfButton" onclick="window.print()">Download Report</button>
    
        <script>
            // Get the button element by its ID
            var buttonExcel = document.getElementById("downloadExcelButton");
    
            // Define the link URL
            var linkUrlExcel = "{{url_for('download_excel',type='loan',type_id=person.id )}}";
    
            // Add a click event listener to the button
            buttonExcel.addEventListener("click", function() {
                // Redirect to the link URL
                window.location.href = linkUrlExcel;
            });

        </script>
    </body>

{%endblock%}