{%extends 'base.html' %}

{%block title%}
Employee Details
{% endblock %}

{% block header%}
EMPLOYEE DETAILS
{% endblock  %}

{% block anchor%}
<a href="{{ url_for('queries') }}" id='arrow'><i class="fa-solid fa-arrow-left"></i></a>
{% endblock  %}

{%block content%}

<body id="person">
    <table class="tab-content">
        <tbody>
            <tr>
                <th>Employee ID</th>
                <th>Is Admin</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Savings Balance</th>
                <th>Loan Balance</th>
                <th>Company </th>
            </tr>
            {%for person in persons%}
            <tr>
                <td>{{ person.employee_id }}</td>
                <td>{{ person.is_admin }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.phone_no }}</td>
                <td><a href="{{url_for('savings_account',person_id=person.id)}}">{{ person.total_balance | currency}}</a></td>
                <td><a href="{{url_for('loan_account',person_id=person.id)}}">{{ person.loan_balance | currency}}</a></td>
                <td>{{ person.company.name }}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    
    <!-- <h2>Download Excel Report</h2> -->
    <button id="downloadExcelButton">Download Excel Report</button>

    <!-- <h2>Download PDF Report</h2> -->
    <button id="downloadPdfButton">Download PDF Report</button>


    <script>
        // Get the button element by its ID
        var buttonExcel = document.getElementById("downloadExcelButton");
        var buttonPdf = document.getElementById("downloadPdfButton");

        // Define the link URL
        var linkUrlExcel = "{{url_for('download_excel',type='persons',type_id='None')}}";
        var linkUrlPdf = "{{url_for('download_pdf',type='persons',type_id='None')}}";

        // Add a click event listener to the button
        buttonExcel.addEventListener("click", function() {
            // Redirect to the link URL
            window.location.href = linkUrlExcel;
        });
        buttonPdf.addEventListener("click", function() {
            // Redirect to the link URL
            window.location.href = linkUrlPdf;
        });
    </script>

</body>

{%endblock%}