{%extends 'base.html' %}

{%block title%}
Ledger Report
{% endblock %}

{% block header%}
Trial Balance
{% endblock  %}

{% block anchor%}
<a href="{{ url_for('queries') }}" id='arrow'><i class="fa-solid fa-arrow-left"></i></a>
{% endblock  %}

{%block content%}

<body id="person">
    <table class="tab-content">
        <tbody>
            <tr>

                <th>Name</th>
                <th>Description</th>
                <th>Debit</th>
                <th>Credit</th>
               
            </tr>
            <tr>
                <th colspan="5" class="total">Assets</th>
            </tr>
            <tr>
               
                <td><a href="">Bank</a></td>  <!-- Fetching the person's name -->
                <td>bank balance</td>
                <td>{{ cash_and_bank | currency }}</td>
                <td> _ </td>
            <tr>
                <td><a href="{{url_for('get_loan')}}">Account Receivables</a></td>  <!-- Fetching the person's name -->
                <td>Total Recievables from Loans</td>
                <td>{{ accounts_receivable | currency }}</td>
                <td>_</td>
                
            </tr>
            <tr>
      
                <td><a href="{{url_for('companies_report')}}">Company Receivables</a></td>  <!-- Fetching the person's name -->
                <td>Total Recievables from Companies</td>
                <td> {{ company_receivable | currency }} </td>
                <td>_</td>
                
            </tr>

            <tr>

         
                <td><a href="">Deferred Income </a></td>  <!-- Fetching the person's name -->
                <td>_</td>
                <td> _ </td>
                <td>{{ deferred_income | currency }}</td>

            </tr>

            <!--assets-->
            {% for asset in assets %}
            <tr>
                <td><a href="{{url_for('ledger_report',ledger='asset',ledger_id=asset.id)}}">{{asset.name}}</a></td> 
                <td>{{asset.description}}</td>
                <td>{{asset.balance | currency}}</td>
                <td>_</td>
            </tr>
            {% endfor %}

            {% for income in incomes %}
            <tr>
                <td><a href="{{url_for('ledger_report',ledger='income',ledger_id=income.id)}}">{{ income.name }}</a></td> 
                <td>{{income.description}}</td>
                <td>{{income.balance | currency}}</td>
                <td>_</td>
            </tr>
            {% endfor %}

            {% for expense in expenses %}
            <tr>
                <td><a href="{{url_for('ledger_report',ledger='expense',ledger_id=expense.id)}}">{{ expense.name }}</a></td>  <!-- Fetching the person's name -->
                <td>{{expense.description}}</td>
                <td>_</td>
                <td>{{expense.balance | currency}}</td>
            <!--total_accounts_payable-->

            <tr>
                {% endfor %}
                {% for liability in liabilities%}
                <td><a href="{{url_for('ledger_report',ledger='liability',ledger_id=liability.id)}}">{{ liability.name }}</a></td>  <!-- Fetching the person's name -->
                <td>{{liability.description}}</td>
                <td>{{liability.balance | currency}}</td>
                <td>_</td>
            </tr>
            {% endfor %}

            {% for investment in investments%}
            <tr>
                <td><a href="{{url_for('ledger_report',ledger='investment',ledger_id=investment.id)}}">{{ investment.name }}</a></td>  <!-- Fetching the person's name -->
                <td>{{investment.description}}</td>
                <td>_</td>
                <td>{{investment.balance | currency}}</td>
            </tr>   
            {% endfor %}
  
            <td><a href="{{url_for('get_payments')}}">Accounts Payables</a></td>  <!-- Fetching the person's name -->
            <td>Members Deposit</td>
                <td> _ </td>
                <td>{{ accounts_payable | currency }}</td>

            </tr>

            <!--deficit-->
            <tr>
                
                <td><a href="">Deficit </a></td>  <!-- Fetching the person's name -->
                <td>Retained earnings</td>
                <td> _ </td>
                <td>{{ deficit | currency }}</td>

            </tr>

            <tr>
              
                <th colspan="2" class="total">Total</th>
                
                <th colspan="1" class="total">{{total_dr | currency}}</th>
                <th colspan="1" class="total">{{total_cr | currency}}</th>
                
            </tr>

        </tbody>
    </table>


{%endblock%}