<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock  %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="\static\css\style.css">
</head>
<body class="special-dash">
    <div class="full-form-content">
        <div class = "flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li class="fade-out {{message[0]}}">{{message[1]}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        </div>
    
    <div class='all-sections'>
        
        <nav class='section-1'>
            <div class="logo"><img src="\static\logo2.png" alt="logo"></div>
            <ul class="side-bar" id="side-bar">
                
                <li class="{%block dash%}active nav-item{%endblock%}" id="move">
                    <a href="{{ url_for('dashboard') }}" class="nav-link"><i class="fa-solid fa-gauge"></i>
                    <span>Dashboard</span></a>
                </li>
                

                {% if person.role.id == 1 or person.role.id == 3 %}

                <li class="{%block form%}nav-item{%endblock%}">
                    <a class="nav-link" href="{{ url_for('forms') }}"><i class="fa-solid fa-align-justify"></i><span>Forms</span></a>
                </li> 
                {% endif %}
                {% if person.role.id != 4 %}
                
                <li class="{%block query%}nav-item{%endblock%}">
                    <a class="nav-link" href="{{ url_for('queries') }}"> <i class="fa-solid fa-chart-line"></i><span>Report</span></a>
                </li>
                {% endif %}
                {% if person.role.id == 1 or person.role.id == 3 %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ledger_admin') }}"><i class="fa-solid fa-book"></i><span>Ledger Admin</span></a>
                    
                </li>
                {% endif %}

                {% if person.role.id == 1 %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('role_assignment') }}"><i class="fa-brands fa-atlassian"></i><span>Role Assignment</span></a>  
                </li>
                {% endif %}
                {% if person.role.id == 1 or person.role.id == 3 %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('edit_profile') }}"><i class="fa-solid fa-lock"></i><span>Edit Member Info</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('reset_password') }}"><i class="fa-solid fa-lock"></i><span>Reset Password</span></a>
                </li>
                {% endif %}

                <li class="logout">
                    <a class='nav-link' href="{{url_for('logout')}}"><i class="fa-sharp fa-solid fa-right-from-bracket"></i><span>Logout</span></a>
                </li>
                
            </ul>
        </nav>
        
         
        <div class='section-2'>

        <div class="head-wrap">

            <div class="head-title">
                <span>Employee-id: {{person.employee_id}}</span>
                <h1>Welcome, {{ person.name }}!</h1>
                <!-- <div class="user-info">
                    <i class="fa-solid fa-user"></i>
                </div> -->
            </div>

        </div>
       
        <div class="all-cards-wrap">
        {%block content%} 
        <h3>Today's data</h3>
        <div class="all-cards" id="dash-all-cards"> 

            <div class="card" id="current-bal"> 
                <div class="container">
                    
                    <div class='content-con'>
                    <a href="{{url_for('savings_account',person_id=person.id)}}">
                        
                        <div>
                        <p><strong>Current Balance:</strong></p>
                        </div>
                        
                        <div>
                        <p><strong>{{ person.balance_bfd | currency}}</strong></p>
                        </div>
                    </a>
                    </div>

                    <div class="icon-con"><i class="fa-solid fa-coins"></i></div>

                </div>
            </div>
    
            <div class="card" id="loan-bal">
                <div class="container">

                    <div class='content-con'>
                    <a href="{{url_for('loan_account',person_id=person.id)}}">
                        
                        <div>
                        <p><strong>Loan Balance:</strong></p>
                        </div>

                        <div>
                        <p><strong>{{ person.loan_balance | currency}}</strong></p>
                        </div>
                    
                    </a>
                    </div>
                    

                    <div class="icon-con" id='landmark'><i class="fa-solid fa-landmark"></i></div>

                </div>
            </div>

        </div>

        </div>

        </div>
    </div>

    <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Add selectize.js JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <!-- Add the JavaScript for handling search suggestions -->
    <script>
        $(document).ready(function () {
            var selectizeInput = $(
                '#searchForm input[name="search_query"]'
            ).selectize({
                valueField: "value",
                labelField: "label",
                searchField: "label",
                create: false,
                maxItems: 5,
                render: {
                    option: function (item, escape) {
                        return "<div>" + escape(item.label) + "</div>";
                    },
                },
                load: function (query, callback) {
                    if (!query.length) return callback();
                    $.getJSON("/search_suggestions", { query: query }, function (data) {
                        var suggestions = [];
                        data.companies.forEach(function (company) {
                            suggestions.push({
                                value: "/company/" + company[0],
                                label: company[1] + " (Company)",
                            });
                        });
                        data.persons.forEach(function (person) {
                            suggestions.push({
                                value: "/person/" + person[0],
                                label: person[1] + " (Person)",
                            });
                        });
                        callback(suggestions);
                    });
                },
                onChange: function (value) {
                    if (value) {
                        window.location.href = value;
                    }
                },
            });

            // Prevent form submission when selecting an item
            $("#searchForm").on("submit", function (event) {
                event.preventDefault();
                var selectedOption = selectizeInput[0].selectize.getValue();
                if (selectedOption) {
                    window.location.href = selectedOption;
                }
            });
        });

    </script>



</body>
{%endblock%}