{%extends 'dashboard.html' %}

{%block title%}
Forms
{% endblock %}

{%block dash%}
nav-item
{%endblock%} 

{%block form%}
active
{%endblock%} 

{%block content%}
<section id="topic">

    <!-- <h1>Create New Entries</h1> -->


    <div class='all-cards'>
        <div class="card">
            <div class="container">
                <a href="{{ url_for('create_bank') }}">Create Bank</a>
            </div>
        </div>

        <div class="card">
            <div class="container">
                <a href="{{ url_for('create_company') }}">Create Company</a>
            </div>
        </div>

        <div class="card">
            <div class="container">
                <a href="{{ url_for('create_person') }}">Create Member</a>
            </div>
        </div>
        
        <div class="card">
            <div class="container">
                <a href="{{ url_for('register_loan') }}">Loan Application</a>
            </div>
        </div>

        <div class="card">
            <div class="container">
                <a href="{{ url_for('request_loan') }}">Create Loan</a>
            </div>
        </div>

        <div class="card">
            <div class="container">
                <a href="{{ url_for('make_payment') }}"> Bank Receipt Voucher</a>
                <!-- make payment into the system -->
            </div>
        </div>

        <div class="card">
            <div class="container">
                <a href="{{ url_for('make_income') }}">Input Income</a>
            </div>
        </div>

        <div class="card">
            <div class="container">
                <a href="{{ url_for('create_expense') }}">Bank Payment Voucher</a> 
                <!-- add expense to the system -->
            </div>
        </div>

        <div class="card">

            <div class="container">
                <a href="{{ url_for('upload_savings') }}">Upload Savings</a>
            </div>
        </div>
        
        <div class="card">

            <div class="container">
                <a href="{{ url_for('upload_loan') }}">Upload Loan</a>
            </div>
        </div>

        <div class="card">

            <div class="container">
                <a href="{{ url_for('request_withdrawal') }}">Make Withdrawal</a>
            </div>
        </div>

        <div class="card">

            <div class="container">
                <a href="{{ url_for('startup') }}">Start Up</a>
            </div>
        </div>

        <div class="card">

            <div class="container">
                <a href="{{ url_for('journal') }}">Journal</a>
            </div>
        </div>

</section>
{%endblock%}