
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounting Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="\static\css\style.css">
</head>
<body class="dashboard">
    <section id="nav">
        <a href="{{url_for('dashboard')}}" class="head">Accounting</a>
        <a href="#" class="tail"><i class="fa-sharp fa-solid fa-right-from-bracket"></i></a>
    </section>

    
    <section id="topic">

    <h1>Create New Entries</h1>


        <div class='all-cards'>
        <div class="card"> 
            <div class="container">
                <a href="{{ url_for('create_bank') }}">Create Bank</a>
            </div>
        </div>

        <div class="card">
            <div class="container">
                <a href="{{ url_for('create_company') }}">Create Company</a>
            </div>
        </div>

        <div class="card">
            <div class="container">
                <a href="{{ url_for('create_person') }}">Create Member</a>
            </div>
        </div>

        <div class="card">
            <div class="container">
                <a href="{{ url_for('create_loan') }}">Create Loan</a>
            </div>
        </div>

        <div class="card">
            <div class="container">
                <a href="{{ url_for('make_payment') }}">Make Payment</a>
            </div>
        </div>

        <div class="card">
            <div class="container">
                <a href="{{ url_for('make_income') }}">Input Income</a>
            </div>
        </div>

        <div class="card">
            <div class="container">
                <a href="{{ url_for('create_expense') }}">Add Expense</a>
            </div>
        </div>
        <div class="container">
            <a href="{{ url_for('upload_savings') }}">Make Withdrawal</a>
        </div>
        <div class="container">
            <a href="{{ url_for('startup') }}">Start Up</a>
        </div>
    </section> 

    
    <!-- 
    <footer>
        <p>&copy; 2023 Your Accounting Website</p>
    </footer> -->

</body>
</html>