<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Loan Information</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Person Name</th>
                    <th>Amount</th>
                    <th>Interest Rate</th>
                    <th>Balance</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Is Paid</th>
                </tr>
            </thead>
            <tbody>
                {% for loan in loans %}
                <tr>
                    <td>{{ loan.id }}</td>
                    <td><a href="{{url_for('loan_account',person_id=loan.person.id)}}">{{ loan.person.name }}</a></td>  <!-- Fetching the person's name -->
                    <td>{{ loan.amount  }}</td>
                    <td>{{ loan.interest_rate }}</td>
                    <td>{{ loan.person.loan_balance }}</td>
                    <td>{{ loan.start_date }}</td>
                    <td>{{ loan.end_date }}</td>
                    <td>{{ loan.is_paid }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
