<!-- payments.html -->
<html>
<head>
    <title>Person Payments</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Coolink Cooperative Loan Account</h1>
    <p>Name: {{ person.name }}</p>
    <p>Company: {{ person.company.name }}</p>
    <p>Member ID: {{ person.employee_id }}</p>
    <p>Loan: {{ person.loan_balance | currency }}</p>
    
    <h2>Payments</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Payment ID</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            
            {% if payments %}
                {% if payments[0].loan %}
                    <tr>
                        <td>{{ payments[0].date }}</td>
                        <td>{{ payments[0].id }}</td>
                        <td>{{ payments[0].description }}</td>
                        <td>{{ -payments[0].amount | currency }}</td>
                        <td>{{ person.loans[0].amount | currency }}</td>
                    </tr>
                    <!-- Add your new transaction row here -->
                    <tr>
                        <td>{{ payments[0].date }}</td>
                        <td>0</td>
                        <td>Loan interest</td>
                        <td>{{ (person.loans[0].amount * (person.loans[0].interest_rate/100)) | currency }}</td>
                        <td>{{ (person.loans[0].amount + (person.loans[0].amount * (person.loans[0].interest_rate/100))) | currency }}</td>                      
                    </tr>
                    
                {% endif %}
                {% for payment in payments[1:] %}
                    {% if payment.loan %}
                        <tr>
                            <td>{{ payment.date }}</td>
                            <td>{{ payment.id }} </td>
                            <td>{{ payment.description }}</td>
                            <td>{{ -payment.amount | currency }}</td>
                            <td>{{ payment.balance | currency }}</td>
                        </tr>
                        
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</body>
</html>
