<!DOCTYPE html>
<html>
<head>
    <title>Person Details</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Person Details</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Is Admin</th>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Savings Balance</th>
            <th>Loan Balance</th>
            <th>Company </th>
        </tr>
        {%for person in persons%}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.is_admin }}</td>
            <td>{{ person.employee_id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.phone_no }}</td>
            <td>{{ person.total_balance | currency}}</td>
            <td>{{ person.loan_balance | currency}}</td>
            <td>{{ person.company.name }}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>
