<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounting Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="\static\css\style.css">
</head>
<body class="dashboard">
    <section id="nav">
        <a href="{{url_for('dashboard')}}" class="head">Accounting</a>
        <a href="#" class="tail"><i class="fa-sharp fa-solid fa-right-from-bracket"></i></a>
    </section>

    <section id="topic">
    <h1>Welcome to our Accounting Website</h1>
    
    <div class="all-cards">
    <div class="card">
        <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
        <div class="container">
            <a href="{{ url_for('get_persons') }}">View Members</a>
        </div>
    </div>
    
    <div class="card">
        <div class="container">
            <a href="{{ url_for('get_payments') }}">Members Savings Account</a> 
        </div>
    </div>

    <div class="card">
        <div class="container">
            <a href="{{ url_for('get_loan') }}">Members Loan</a>
        </div>
    </div>

    <div class="card">
        <div class="container">
            <a href="{{ url_for('bank_report') }}">Bank Report</a>
        </div>
    </div>

    <div class="card">
        <div class="container">
            <a href="{{ url_for('get_income') }}">Income Statement</a> 
        </div>
    </div>

    <div class="card">
        <div class="container">
            <a href="{{ url_for('companies_report') }}">Company Report</a>
        </div>
    </div>

    <div class="card">
        <div class="container">
            <a href="{{ url_for('balance_sheet') }}">Financial Position</a>
        </div>
    </div>

    </div>
</section> 

    
<!-- 
<footer>
    <p>&copy; 2023 Your Accounting Website</p>
</footer> -->

</body>
</html>