{%extends 'dashboard.html' %}

{%block title%}
Queries
{% endblock %}

{%block dash%}
nav-item
{%endblock%} 

{%block active%}
nav-item
{%endblock%} 

{%block query%}
active
{%endblock%}

{%block content%}
<section id="topic">
    <!-- <h1>Welcome to our Accounting Website</h1> -->
    
    <div class="all-cards">
    <div class="card">
        <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
        <div class="container">
            <a href="{{ url_for('get_persons') }}">View Members</a>
        </div>
    </div>
    
    <div class="card">
        <div class="container">
            <a href="{{ url_for('get_payments') }}">Members Savings Account</a> 
        </div>
    </div>

    <div class="card">
        <div class="container">
            <a href="{{ url_for('get_loan') }}">Members Loan</a>
        </div>
    </div>

    <div class="card">
        <div class="container">
            <a href="{{ url_for('bank_report') }}">Bank Report</a>
        </div>
    </div>

    <div class="card">
        <div class="container">
            <a href="{{ url_for('get_income') }}">Income Statement</a> 
        </div>
    </div>

    <div class="card">
        <div class="container">
            <a href="{{ url_for('companies_report') }}">Company Report</a>
        </div>
    </div>

    <div class="card">
        <div class="container">
            <a href="{{ url_for('balance_sheet') }}">Financial Position</a>
        </div>
    </div>

    <div class="card">
        <div class="container">
            <a href="{{ url_for('ledger_report') }}">Trial Balance</a>
        </div>
    </div>

    </div>
</section> 

</body>
{%endblock%}